body {
    background-color:lightskyblue;
}

.container {
}

.form {
   display: flex;
   justify-content: center;
   justify-items: center;
   align-content: center;
   height:30px;
   background-color: lightcyan;
   padding: 30px;
   gap:10px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 900;
    border-bottom:10px solid lightskyblue;
}

input[type=text] {
    border-radius: 10px;
    width:15rem;
}

.dropdown {
    height:1.75rem;
    background-color: white;
    border-radius: 10px;
}

.library {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
}

.library-card {
    padding: 5rem;
    background-color: lightcyan;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.add {
    border-radius: 15px;
    width: 8rem;
    background-color:white;
    font-weight: 500;
}

.delete {
    border-radius: 15px;
    width: 10rem;
    height: 2rem;
    background-color:white;
    color:black;
    font-weight: 500;
}

.read {
    width: 10rem;
    height: 2rem;
    background-color:white;
    color:black;
    font-weight:500;
    border-radius: 15px;
}

.not-read {
    width: 10rem;
    height: 2rem;
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 15px;
}